@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
	font-family:Baskerville Old Face;
	background: rgb(2,0,36);
	background:black;
}

.container{
	border: 2px solid #ca86ca;
	border-top-left-radius: 100px 500px;
	border-bottom-left-radius: 100px 500px;
	background:black;
	padding:10px 60px;
	width:35%;
	height:30%;
	margin-left:35%;
	margin-top:2%;
}

h1{
	color:#ca86ca;
	margin-top:20px;
}

.form-group{
	overflow: hidden;
	width: 100%;
	font-size: 20px;
	padding: 8px 0;
	margin:8px 0;
	border-bottom: 1px solid #ca86ca;
	position: relative;
}

.form{
	display: inline-flex;
}

.form-text, h3 {
		margin-top:10%;
		font-size:50px;
		color:#ca86ca;
		animation-name: example;
		animation-duration: 2s;
	}
	

	@keyframes example {
	  0%   {color: #F0C6C1 ;}
	  25%  {color: #D8FFB8 ;}
	  50%  {color: #B8E7FF ;}
	  100% {color: #ca86ca ;}
	}

i{
	color: #ca86ca;
	font-size: 5px;
	float: left;
	text-align: center;
	margin: 7px;
}

.form-group input{
	border: none;
	outline: none;
	background: none;

}

.btn{
	background-color: #ca86ca;
	border-radius: 35px;
	padding: 5px 20px;
	margin-top:2%;
}

@media (max-width:750px){
.container {
    width:100%;
}
}
